body{
    background-color: #f4f4f4;
}

#supperLotto{
    text-align: center;
}

.wrap{
    width: 450px;
    height: 450px;
    display: block;
    margin: 40px auto;
    padding: 0;


}

.row{
    height: 60px;
    display: block;
}
.col{
    position: relative;
    float: left;
    display: block;
    width: 60px;
    height: 100%;
    border: 3px solid black;
}

#startGeneration,#randomNumber{
    margin-top: 20px;
    border-radius: 20px;
    height: 30px;
    outline: none;
}
#startGeneration:hover,#randomNumber:hover{
    cursor: pointer;
}

.pos{
    position: absolute;
    left:30%;
    top:30%;
    font-size: 20px;
}

@media only screen and (max-width : 405px){
    .wrap{
        width: 345px;
        height: 345px;
    }
    .row{
        height:45px;
    }
    .col{
        width: 45px;
    }

}





